
body { background-color: #4A148C; font-family: "lato", "Helvetica Neue",Helvetica,Arial,sans-serif;}
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h1 { font-weight: bold; margin-bottom: 0px; }
h2 { font-weight: bold; color: #888; font-size: 20px; }
.page {
    border-radius: 3px;
    padding: 20px;
    background-color: white;
    min-height: 300px;
    width: 600px;
    float: right;
    margin-top: 10px;
}
.segment {
    width: 100%;
    border-top: 1px solid #ddd;
}


@media (max-width: 767px) {
    .page {
        width: 100%;
        float: none;
    }
}
